.header {
  position: relative;
  width: 100%;
}

.heroImage {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      to right,
      rgba(54, 103, 164, 0.776),
      rgba(50, 70, 147, 0.8)
    ),
    url("../../../public/homebackground.png") no-repeat center/cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;

  @media (max-width: 1024px)  {
    min-height: 100vh;
  }

  @media (max-width: 768px) {
    min-height: 100vh;
  }
  //  @media (max-width: 768px) {
  //   min-height: 100vh;
  // }
}

.headerContent {
  position: relative;
  z-index: 1;
  padding-top: 150px;
  max-width: 1500px;
  margin: auto;

  @media (max-width: 768px) {
    padding-top: 140px;
  }
   @media (max-width: 576px) {
    padding-top: 120px;
  }

  h1 {
    margin: 30px 65px;
    font-size: 50px;
    color: white;
    max-width: 700px;
    font-weight: bolder;

    @media (max-width: 1024px) {
      font-size: 40px;
      max-width: 600px;
    }

    @media (max-width: 768px) {
      font-size: 35px;
      max-width: 70%;
      margin-left: 5%;
      padding-right: 5%;
    }

    @media (max-width: 480px) {
      font-size: 28px;
      margin-left: 5%;
    }
  }

  p {
    color: rgb(224, 223, 223);
    font-size: 25px;
    max-width: 670px;
    margin: 0 65px;
    line-height: 1.6;

    @media (max-width: 1024px) {
      font-size: 20px;
      max-width: 600px;
    }

    @media (max-width: 768px) {
      font-size: 25px;
      max-width: 80%;
      letter-spacing: 1.5px;
      margin-left: 5%;
      padding-right: 5%;
    }

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }

 .btn {
  margin-left: 50px;
  display: flex;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: column; // 768px se niche stack vertically
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 10px;
    gap: 0px;
  }

  .btn1, .btn2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: transparent;
    border: 2px solid white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 50px 10px;

    &:hover {
      background-color: #dbae58;
      border-color: #dbae58;
      color: #344160;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 10px 6px;
      margin: 0;
      margin-top: 20px;
      width: 92%; // full width on small & medium screens
    }

    @media (max-width: 576px) {
      font-size: 12px;
      padding: 8px 8px;
      margin-top: 15px;
    }
  }
}


}
.socialIcons {
  background-color: white;
  color: #000;
  padding: 20px;
  width: 45px;
  height: 120px;
  position: absolute;
  right: 0;
  bottom: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  

  @media (max-width: 1024px) {
    width: 40px;
    height: 110px;
    padding: 15px;
  }

@media (max-width: 768px) {
  background: none;
  box-shadow: none;
  left: 0;
  right: auto;
  bottom: 0;
  flex-direction: row;
  width: auto;
  height: auto;
  padding: 10px 15px;
  gap: 15px;
  color: white;

  i {
    color: white !important;
    font-size: 25px !important;
    line-height: 1;
  }
}


}
