@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* 👇 Yahan Lato & Open Sans bind kar do */
  --font-sans: var(--font-open-sans); /* Body text */
  --font-heading: var(--font-lato);   /* Headings */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  overscroll-behavior-y: none;
}
