.container {
  padding: 80px 20px;
  margin-top: 20px;
}

.innerContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 2.6rem;
  font-weight: 800;
  color: #111827;
}

.rtl {
  direction: rtl;
  text-align: right;
  font-family: "Noto Nastaliq Urdu", "Jameel Noori Nastaleeq", serif;
  line-height: 1.8;
}

.ltr {
  direction: ltr;
  text-align: left;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

.loading {
  text-align: center;
  color: #111827;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;

  .spinner {
    margin-top: 20px;
    width: 48px;
    height: 48px;
    border: 4px solid #000;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  p {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.errorBox {
  background: #fee2e2;
  border-left: 5px solid #ef4444;
  text-align: center;
  border-radius: 12px;
  padding: 30px;
  color: #b91c1c;

  .errorTitle {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .retryBtn {
    margin-top: 20px;
    background: #dc2626;
    color: white;
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #b91c1c;
    }
  }
}

.emptyBox {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  text-align: center;
  padding: 50px;
  font-size: 1.1rem;
  color: #6b7280;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.08);
  }
}


.cardTitle {
  font-size: 30px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 12px;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.cardDesc {
  margin-top: 15px;
  color: #4b5563;
  font-size: 20px;
  margin-bottom: 20px;
  flex-grow: 1;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.downloadBtn {
  background: #111827;
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #1f2937;
    transform: translateY(-2px);
  }

  .downloadIcon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }
}


